{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% block head_title %}{{ block.super }}{% endblock head_title %}

<script>
{% block jquery %}

  {% endblock jquery%}
</script>

{% block content %}
<!--<iframe src="http://127.0.0.1:8000/documents/1/arifm.pdf" width="700" height="400"></iframe>-->

<p>Остановились: задача 716</p>
<p>Скачать djvu в хорошем качестве <a href="{% static '/documents/arifmetika1967.djvu' %}">тут</a></p>

<embed src="{% static '/documents/arifm.pdf' %}" width="1200" height="1000" />


 <h1>{{ self.title }}</h1>

{{ page.body|richtext }}


{% endblock content %}
