{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% block head_title %}{{ block.super }}{% endblock head_title %}

<script>
{% block jquery %}

  {% endblock jquery%}
</script>

{% block content %}

<p>Сюда буду добавлять заметки</p>

<embed src="{% static '/documents/detsad.pdf' %}" width="1200" height="1000" />


 <h1>{{ self.title }}</h1>

{{ page.body|richtext }}
    <img src="{% static '/documents/detsad/Dve_teteri_Agafonnikova.jpg' %}" alt="" width="1200px">

      <p>Пионерский горн к завтраку, ужину</p>
  <audio controls>
    <source src="{% static '/documents/detsad/pioner-gorn-zavtrak.mp3' %}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером.
    <a href="{% static '/documents/detsad/pioner-gorn-zavtrak.mp3' %}">Скачайте музыку</a>.
  </audio>

   <h2> ПЕСЕНКА О ВЕСНЕ</h2>
    <small><b>Музыка</b> Григория Фрида<br>
<b>Слова</b> Нины Френкель</small>
<div class="lyrics">
<p>Звонко капают капели</p>
<p>возле нашего окна.</p>
<p>Птицы весело запели:</p>
<p>«чив-чив-чив» - пришла весна!</p>
<br>
<p>Мы вчера нашли подснежник</p>
<p>на проталине лесной.</p>
<p>Голубой цветочек нежный</p>
<p>пахнет солнцем и весной.</p>

    </div>
  <audio controls>
    <source src="{% static '/documents/detsad/pesenka-o-vesne-frid.m4a' %}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером.
    <a href="{% static '/documents/detsad/pesenka-o-vesne-frid.m4a' %}">Скачайте музыку</a>.
  </audio>

    <img src="{% static '/documents/detsad/povesne-frid.gif' %}" alt="" width="800px">



{% endblock content %}
