.idea
venv
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
.ftpconfig
deployment-config.json

media/documents/*
media/avatar_images/*
media/users/*
media/images/*
media/cache/*
media/products/*
media/files/*
media/uploads/*
media/original_images/*
original_images/*


*.log
*.pot
*.pyc

.env
db.sqlite3

*.sqlite3

files/*
static/*
src/*
uploads/*
finance/static/documents/*
db/*
export_djdesc.tar.gz
auto.ods
Finance.xls
Pipfile
finance/static/img/*
#desc/settings/base.py*
