{% extends "base.html" %}

{% block head_title %}{{ block.super }}Доходы{% endblock head_title %}

{% block content %}
<main role="main">

<div class="row">

<div class="col-md-6 col-xs-12">
{% if aggr_today %}

    <p>Расходы за текущий месяц <div class="widget-numbers
{% if aggr_today < profit_month %} text-success {% endif%}
      {{ profit_class_css }}">{{ aggr_today }}</div>

{% if aggr_today < profit_month %}<div class="text-success">

<span>Расходы не превышают доходы</span></div>  {% endif %}

      {% else %}
    Расходы ещё не добавлены
{% endif %}



    {% if profit_month %}
    <p>Доходы за текущий месяц <b>{{ profit_month}}</b></p>
    {% else %}
    <p>Данные по доходам ещё не указаны</p>
    {% endif %}
    <p>Разница <small>(доходы - расходы)</small> за месяц <b>{{ difference }}</b></p>


    {% for obj in profitlist %}
        {{ obj.timestamp }} | {{ obj.name }} | {{ obj.total }}<br>
    {% endfor %}

</div>
</div>
</main>
{% endblock %}
