{% extends "base_generic.html" %}

{% block content %}
<h1>Домашняя библиотека. Главная</h1>

  <p>Добро пожаловать в <em>Домашнюю библиотеку</em>, очень простое руководство от MDN!</p>

<h2>Динамические данные</h2>

  <p>Наша библиотека насчитывает:</p>
  <ul>
    <li><strong>Книг:</strong> {{ num_books }}</li>
    <li><strong>Копий книг:</strong> {{ num_instances }}</li>
    <li><strong>Доступно копий:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
  </ul>
<p>Вы посещали эту страницу {{ num_visits }}{% if num_visits == 2 %} раза {% else %} раз{% endif %}.</p>

{% endblock %}